<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/beercss@2.2.11/dist/cdn/beer.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/beercss@2.2.11/dist/cdn/beer.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@0.0.10/dist/cdn/material-dynamic-colors.min.js" type="text/javascript"></script>
        <title>Finance</title>
    </head>
    <body>
        <main class="responsive">
            <header>
                <nav>
                <button class="circle transparent" data-ui="#modal-navigation-drawer">
                    <i>menu</i>
                </button>
                <h5 class="max center-align">Finance</h5>
                </nav>
            </header>
            <div class="grid large-space">
                <div class="s12 m6 l3">
                    <article class="round">
                        <div class="row">
                          <img class="circle" src="/static/dup.png">
                          <div class="max">
                            <h5>Deduplication</h5>
                            <p>Remove duplicates from list</p>
                          </div>
                        </div>
                        <nav>
                          <button class="round" onclick="location.href='/dedup/'">Open Tool</button>
                        </nav>
                    </article>
                </div>
            </div>
            <div class="modal left" id="modal-navigation-drawer">
                <header class="fixed">
                  <nav>
                    <button class="transparent circle" data-ui="#modal-navigation-drawer">
                      <i>close</i>
                    </button>
                    <h5 class="max">Header</h5>
                  </nav>
                </header>
                <a class="row round">
                  <i>home</i>
                  <span>Home</span>
                </a>
                <a class="row round" href="/dedup">
                  <i>page</i>
                  <span>De-Duplicate</span>
                </a>
              </div>
        </main>
    </body>
</html>